<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans.xsd 
       http://code.alibabatech.com/schema/dubbo 
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <dubbo:application name="demo-provider"/>
    <dubbo:registry address="zookeeper://192.168.56.102:2181"/>
    <dubbo:protocol name="dubbo" port="20880"/>
    
    <dubbo:service interface="com.hurricane.learn.dubbo.service.demo.DemoService" ref="demoService"  timeout="200">
    	<dubbo:method name="sayHello" timeout="2000"></dubbo:method>
	</dubbo:service>
	<dubbo:service interface="com.hurricane.learn.dubbo.service.user.UserService" ref="userService"></dubbo:service> 
		
	
	
	
	

    <bean id="demoService" class="com.hurricane.learn.dubbo.biz.demo.DemoServiceImpl"/>
    <bean id="userService" class="com.hurricane.learn.dubbo.biz.user.UserServiceImpl"></bean>
</beans>